body {
    /*background: #00B4DB;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
    /*background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Lato;
    /*color: #4169E1;*/
}

ul {
    list-style: none;
}

div {
    transition: all 1s;
}

button {
    transition: all 1s;
}

.fadeIn {
    display: none;
}